.container {
  padding: 20px;
}

.card {
  border-radius: 10px; /* Coins arrondis */
}

.card-header {
  background-color: #f8f9fa; /* Couleur de fond légère */
  border-bottom: 1px solid #ddd; /* Bordure */
}

.card-body {
  padding: 20px; /* Espace intérieur */
}

.input-group {
  padding: 10px; /* Espace autour du champ d'entrée */
}

.alert {
  border-radius: 5px; /* Coins arrondis pour l'alerte */
}

.list-group-item {
  border-radius: 5px; /* Coins arrondis pour les éléments de liste */
}

.shadow-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Ombre pour effet 3D */
}
@media (max-width: 600px) {
  .action-text {
    display: none; /* Masquer le texte */
  }
  .texte {
    margin-left: 10px;
  }
}




.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


