<nav class="p-3 navbar justify-content-center align-content-center mt-5 " >
  <ul class="nav nav-pills ">
    <li *ngFor="let action of actions">
      <button
        (click)="setCurrentAction(action)"
        [class]="action == currentAction ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'"
      >
        {{action.nom}}
        <i class="bi {{action.icon}}"></i>
      </button>
    </li>
  </ul>
</nav>


<div class="container d-flex justify-content-center align-items-center" style="min-height: 40vh;">
  <div class="card shadow-lg" style="width: 50rem;">
    <div class="card-header text-center">
      <h3 class="card-title">Upload de Fichiers</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="fileInput" class="form-label">Sélectionnez des fichiers (PDF, PPTX, XLSX, DOCX):</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              [disabled]="!currentAction"
              type="file"
              class="custom-file-input"
              id="fileInput"
              (change)="onFileChange($event)"
              multiple
              [attr.accept]="currentAction.type"
            >
            <label class="custom-file-label" for="fileInput">
              {{ inputLabel }}


            </label>
            {{ currentAction.type }}
          </div>
        </div>
          <div class="text-center mt-4">
            <button
              class="btn btn-primary"
              [disabled]="files.length === 0"
              (click)="envoyerFichiers()"
            >
              Continuer
            </button>
          </div>
      </div>

      <!-- Alerte Bootstrap -->
      <div *ngIf="invalidFiles.length > 0" class="alert alert-danger mt-3">
        <strong>Erreur!</strong> Les fichiers suivants ont des extensions non autorisées :
        <ul>
          <li *ngFor="let file of invalidFiles">{{ file.name }}</li>
        </ul>
      </div>

<!--      <div *ngIf="files.length > 0" class="mt-3">-->
<!--        <ul class="list-group">-->
<!--          <li-->
<!--            *ngFor="let file of files; let i = index"-->
<!--            class="list-group-item d-flex justify-content-between align-items-center"-->
<!--          >-->
<!--            <span>-->
<!--              <i [ngClass]="getIconClass(file.name)"></i>-->
<!--              {{ file.name }} - {{ fileSizeInMb(file.size) }} Mb-->
<!--            </span>-->
<!--            <button-->
<!--              class="btn btn-danger btn-sm"-->
<!--              (click)="removeFile(i)"-->
<!--            >-->
<!--              <i class="bi bi-x-circle"></i>-->
<!--            </button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

      <div *ngIf="files.length > 0" class="mt-3">
        <ul class="list-group">
          <li *ngFor="let file of files; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
              <span class="d-flex align-items-center flex-grow-1" style="overflow: hidden;">
                <i [ngClass]="getIconClass(file.name)" class="me-2"></i>
                <span class="text-truncate">{{ file.name }}</span>
                <span class="ms-2">- {{ fileSizeInMb(file.size) }} Mb</span>
              </span>
            <button
              class="btn btn-danger btn-sm"
              (click)="removeFile(i)"
            >
              <i class="bi bi-x-circle"></i>
            </button>
          </li>
        </ul>
  </div>
    </div>
  </div>
</div>
