<!-- Login 9 - Bootstrap Brain Component -->
<section class=" py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center mt-md-5">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-light">
          <div class="col-12 col-xl-9">
            <hr class=" mb-4">
            <h2 class="h1 mb-4">Bienvenue sur Notre Plateforme</h2>
            <p class="lead mb-5">Notre plateforme vous permet d'importer des fichiers PDF, Word, Excel ou PowerPoint. Une fois importé, notre système extrait automatiquement le contenu pour vous permettre de poser des questions à IA, basée sur le modèle GPT-4o. Elle génère ensuite des réponses pertinentes à partir du contexte du document. Vous pouvez également nous donner votre feedback pour améliorer continuellement notre système. Pour nous envoyer votre feedback, veuillez nous contacter à <strong><a class="h4" style="color: aliceblue;text-decoration: none;" href="mailto:feedback@delmas-gpt.tech">feedback&#64;delmas-gpt.tech</a></strong> .</p>
            <div class="text-endx">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3>Se connecter</h3>
                  <p>Vous n'avez pas de compte ? <a routerLink="/inscription" style="color: #7257B3">Inscription</a></p>
                </div>
              </div>
            </div>
            <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="email" id="email" placeholder="name@example.com" required formControlName="username">
                    <label for="email" class="form-label">Username</label>
                    <div *ngIf="formLogin.get('username')?.invalid && (formLogin.get('username')?.dirty || formLogin.get('username')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('username')?.errors?.['required']">
                        Le nom d'utilisateur est requis.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required formControlName="password">
                    <label for="password" class="form-label">Mot de passe</label>
                    <div *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('password')?.errors?.['required']">
                        Le mot de passe est requis.
                      </div>
                      <div *ngIf="formLogin.get('password')?.errors?.['minlength']">
                        Le mot de passe doit comporter au moins 8 caractères.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg"  type="submit" [disabled]="loading" style="background-color: #7257B3;color: white;">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      {{ loading ? 'Chargement...' : 'Connexion' }}
                    </button>
                  </div>
                  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                  <a routerLink="/mot-de-passe" style="color: #7257B3;">Mot de passe oublié</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
