/* Ensure the section takes the full viewport height */
section.vh-100 {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Styling for medium and large screens */
@media (min-width: 768px) {
  section {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  section {
    padding: 0;
  }
}

.error-input {
  border-color: #E53935;
}

.error-message {
  color: #E53935;
  font-size: 16px;
  margin-top: 20px;
  display: none;
}
.alert {
  border-radius: 0.25rem; /* Arrondi les coins du message d'alerte */
  padding: 1rem; /* Ajoute du rembourrage pour améliorer la lisibilité */
}



