textarea {
  /* Permettre les retours à la ligne automatiques */
  white-space: normal;
  overflow-x: hidden; /* Éviter les barres de défilement horizontales */
}

.container {
  max-width: 1000px; /* Centrer le contenu */
  margin: auto;
}

/* Pour les écrans plus grands, ajuster automatiquement la hauteur du textarea */
.response-textarea {
  resize: none;
  overflow: hidden; /* Pas de barre de défilement */
}

/* Pour les écrans plus petits (comme les téléphones), activer la barre de défilement verticale */
@media (max-width: 600px) {
  .response-textarea {
    overflow-y: auto; /* Activer la barre de défilement verticale */
    height: 150px; /* Définir une hauteur fixe qui permet de défiler si nécessaire */
  }
}
/* Animation pour l'icône de copie */
.bi-clipboard {
  transition: transform 0.2s;
}

.bi-clipboard:active {
  transform: scale(1.1); /* Petit zoom lors du clic */
}

.text-success {
  opacity: 1;
  transition: opacity 2s; /* Transition douce pour la disparition du feedback */
}


.loader {
  width: 20px;
  aspect-ratio: .577;
  color: #0D6EFD;
  display: grid;
  background:
    linear-gradient(currentColor 0 0) top   /100% 1px,
    linear-gradient(currentColor 0 0) bottom/100% 1px,
    linear-gradient(to bottom right, #0000 calc(50% - 2px),currentColor calc(50% - 1px),#0000 50%) top/100% calc(100% + 2px),
    linear-gradient(to bottom left , #0000 calc(50% - 2px),currentColor calc(50% - 1px),#0000 50%) top/100% calc(100% + 2px);
  background-repeat: no-repeat;
  animation: l17 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border:inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l17 {
  100% {transform: rotate(1turn)}
}
