<section class="bg-primary  d-flex align-items-center py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center mt-md-5">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-bg-primary">
          <div class="col-12 col-xl-9">
<!--            <img class="img-fluid rounded mb-4" loading="lazy" [src]="'assets/logo.png'" width="245" height="80" alt="Logo">-->
            <hr class="border-primary-subtle mb-4">
            <h2 class="h1 mb-4">Bienvenue sur Notre Plateforme</h2>
            <p class="lead mb-5">Notre plateforme vous permet d'importer des fichiers PDF, Word, Excel ou PowerPoint. Une fois importé, notre système extrait automatiquement le contenu pour vous permettre de poser des questions à IA, basée sur le modèle GPT-4o. Elle génère ensuite des réponses pertinentes à partir du contexte du document. Vous pouvez également nous donner votre feedback pour améliorer continuellement notre système. Pour nous envoyer votre feedback, veuillez nous contacter à <strong>angamancedrick&#64;gmail.com</strong>.</p>
            <div class="text-end">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3>S'inscrire</h3>
                  <p>Vous avez déjà un compte ? <a routerLink="/connexion">Connexion</a></p>
                </div>
              </div>
            </div>
            <form [formGroup]="formLogin" (ngSubmit)="handRegister()">
              <div class="row gy-3">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="Username" id="username" placeholder="Nom d'utilisateur" required formControlName="username">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <div *ngIf="formLogin.get('username')?.invalid && (formLogin.get('username')?.dirty || formLogin.get('username')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('username')?.errors?.['required']">
                        Le nom d'utilisateur est requis.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required formControlName="email">
                    <label for="email" class="form-label">Email</label>
                    <div *ngIf="formLogin.get('email')?.invalid && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('email')?.errors?.['required']">
                        L'email est requis.
                      </div>
                      <div *ngIf="formLogin.get('email')?.errors?.['email']">
                        L'email n'est pas valide.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="Nom" id="nom" placeholder="Nom" required formControlName="nom">
                    <label for="nom" class="form-label">Nom</label>
                    <div *ngIf="formLogin.get('nom')?.invalid && (formLogin.get('nom')?.dirty || formLogin.get('nom')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('nom')?.errors?.['required']">
                        Le nom est requis.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="Prenom" id="prenom" placeholder="Prenom" required formControlName="prenom">
                    <label for="prenom" class="form-label">Prenom</label>
                    <div *ngIf="formLogin.get('prenom')?.invalid && (formLogin.get('prenom')?.dirty || formLogin.get('prenom')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('prenom')?.errors?.['required']">
                        Le prénom est requis.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" required formControlName="password">
                    <label for="password" class="form-label">Mot de passe</label>
                    <div *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('password')?.errors?.['required']">
                        Le mot de passe est requis.
                      </div>
                      <div *ngIf="formLogin.get('password')?.errors?.['minlength']">
                        Le mot de passe doit comporter au moins 8 caractères.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="password" class="form-control" name="confirmePassword" id="confirmePassword" placeholder="Confirme mot de passe" required formControlName="confirmePassword">
                    <label for="confirmePassword" class="form-label">Confirme mot de passe</label>
                    <div *ngIf="formLogin.get('confirmePassword')?.invalid && (formLogin.get('confirmePassword')?.dirty || formLogin.get('confirmePassword')?.touched)" class="text-danger">
                      <div *ngIf="formLogin.get('confirmePassword')?.errors?.['required']">
                        La confirmation du mot de passe est requise.
                      </div>
                      <div *ngIf="formLogin.get('confirmePassword')?.errors?.['minlength']">
                        Le mot de passe doit comporter au moins 8 caractères.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit" [disabled]="formLogin.invalid || loading">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      {{ loading ? 'Chargement...' : 'Inscription' }}
                    </button>
                  </div>
                  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
